<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{$config[0]['value']}</title>
<meta name="keywords" content="{$config[1]['value']}" />
<meta name="description" content="" />
<meta name="format-detection" content="telephone=no" />
<meta content="email=no" name="format-detection">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="__static__/web/css/amazeui.min.css"/>
<link rel="stylesheet" type="text/css" href="__static__/web/css/style.css"/>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js"></script>

</head>
<body style="background-color:#f76d9b;">
	<!-- 头部 -->
	<div class="lj">
	<div class="header">
		<img src="__static__/web/images/banner.png" alt="">
		<a href=""></a>
	</div>
	<div class="laohuji-box">
		<div class="content-box">
			<div class="content">
				<div class="reel reel-1">
					<div class="reel-con reel-con1">
						<div class="num-img"><img src="__static__/web/images/lp1.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp2.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp3.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp4.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp5.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp1.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp2.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp3.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp4.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp5.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp1.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp2.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp3.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp4.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp5.png" alt=""></div>
					</div>
				</div>
				<div class="reel reel-2">
					<div class="reel-con reel-con2">
						<div class="num-img"><img src="__static__/web/images/lp1.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp2.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp3.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp4.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp5.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp1.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp2.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp3.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp4.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp5.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp1.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp2.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp3.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp4.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp5.png" alt=""></div>
					</div>
				</div>
				<div class="reel reel-3">
					<div class="reel-con reel-con3">
						<div class="num-img"><img src="__static__/web/images/lp1.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp2.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp3.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp4.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp5.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp1.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp2.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp3.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp4.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp5.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp1.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp2.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp3.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp4.png" alt=""></div>
						<div class="num-img"><img src="__static__/web/images/lp5.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="anniu-box">
		<div class="in-box">
			<div class="in">
				<div class="in-top">
					<i></i>
					<p>免费抽奖</p>
					<div class="clear"></div>
				</div>
				<div class="in-bottom">
					<p>今日剩余<span id="shengyu"><?php

						if(empty($user_cishu)){

						echo '7';
						}else{
							echo 7- $user_cishu['user_cishu'];
						}

			?></span>次免费</p>
				</div>
			</div>
		</div>
		<div class="cj-box">
			<button id="ClickMe" class="main3-btn main3-btn2"></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="cp-box">
		<div class="cp">
			<ul>
				<li class="cp1">
					<div class="cp-img-box">
						<img src="__static__/web/images/lp1.png" alt="">
					</div>
					<p>宝丽来拍立得</p>
				</li>
				<li class="cp2">
					<div class="cp-img-box">
						<img src="__static__/web/images/lp2.png" alt="">
					</div>
					<p>宝丽来拍立得</p>
				</li>
				<li class="cp3">
					<div class="cp-img-box">
						<img src="__static__/web/images/lp3.png" alt="">
					</div>
					<p>宝丽来拍立得</p>
				</li>
				<li class="cp4">
					<div class="cp-img-box">
						<img src="__static__/web/images/lp4.png" alt="">
					</div>
					<p>宝丽来拍立得</p>
				</li>
				<div class="clear"></div>
			</ul>
		</div>
	</div>
	<div class="hd-box">
		<div class="hd-bt">
			<h1></h1>
			<h2></h2>
		</div>
		<div class="hd">
			<h3>
				怀念那个超漂亮滤镜的INS软件么？想拍出那样美美哒图片么？<br>
这里有INS同款滤镜相机免费送，又潮又好用，你和网红妹子的距离就只差这一个相机啦~<br>
活动说明：每位用户参与即有机会获得幸运奖，每天7次抽奖机会，7次机会免费。<br>
此活动为概率中奖，奖品数量有限，祝好运！
			</h3>
			<p>惊喜一：宝丽来Instagram相机<br>
惊喜二：宝丽来相机SX-70白彩虹机<br>
惊喜三：乐魔LOMO相机<br>
惊喜四：富力拍立得相机<br>
惊喜五：幸运礼盒</p>
		<p>－－－－－－－－－－－－－－－－<br>
重要声明：<br>
1、实物类奖品将在活动结束后5-10个工作日安排发货，请耐心等待<br>
2、优惠券类奖品的使用规则详见每个优惠券的介绍页<br>
3、请兑换后仔细阅读使用流程，如有疑问，可直接联系客服QQ：2951156374（工作日9:00至18:00）<br>
4、通过非法途径获得奖品的，主办方有权不提供奖品</p>
			<div class="gengduo">
				<h4>其他说明</h4>
				<p>
1. 宝丽来Instagram相机，共1份，中奖概率0.01％。<br>
2. 宝丽来相机SX-70白彩虹机，共2份，中奖概率0.02％。<br>
3. 乐魔LOMO相机，共5份，中奖概率0.05％。<br>
4. 富力拍立得相机，共10份，中奖概率0.1％。</p>
			</div>
			<div class="dibu">*兑换项与活动和设备生产商Apple Inc.公司无关</div>
		</div>
	</div>
 <script>
    $(".gengduo p").hide();
	$(".gengduo h4").click(function(){
	 $(this).next().slideToggle(300);
    
     $(this).toggleClass("cur");
     });
    
    </script>

<script type="text/javascript">


	$(".main3-btn").click(function () {

	    var a = $('#shengyu').html();
		if(a == 0){

		    alert('您今日的次数已经用完')
			return false;
		}

		$.ajax({

		    url:"{:url('Index/choujiang')}",
			type:'get',
			dataType:'json',
			success:function (data) {
		        if($('#shengyu').html()==8){


				}else{

		            $('#shengyu').text(7 - data.user_cishu)
				}

            }


		})


		if(!flag){

			flag=true;

			reset();

			letGo();

			setTimeout(function () {

				flag=false;

				alertBox();
				if(index==2){

					$(".fix,.pop-form").show();
				}else{

					$(".fix,.pop").show();
					$(".pop-text span").text(""+String(4-TextNum1)+(8-TextNum2))

				}

			},3200);

			index++;

		}

	});



	var flag=false;

	var index=0;

	var TextNum1

	var TextNum2

	var TextNum3



	function letGo(){



		TextNum1=parseInt(Math.random()*1)//随机数

		TextNum2=parseInt(Math.random()*1)

		TextNum3=parseInt(Math.random()*1)



		var num1=[-46,][TextNum1];//在这里随机

		var num2=[-46,][TextNum2];

		var num3=[-46,][TextNum3];

		$(".reel-con1").animate({"top":-80+'rem'},1000,"linear", function () {

			$(this).css("top",0).animate({"top":num1+'rem'},1000,"linear");

		});

		$(".reel-con2").animate({"top":-80+'rem'},1000,"linear", function () {

			$(this).css("top",0).animate({"top":num2+'rem'},1500,"linear");

		});

		$(".reel-con3").animate({"top":-80+'rem'},1000,"linear", function () {

			$(this).css("top",0).animate({"top":num3+'rem'},1800,"linear");

		});



	}



	function reset(){

		$(".reel-con1,.reel-con2,.reel-con3").css({"top":-430});

	}





</script>
	
	<div id="goodcover"></div>
	<div id="code" class="tc-box">
		<div  class="tc">
    		<h1>{$data.p_name}</h1>
    		<img src="{$data.p_pic}" alt="" style="width: 500px;height: 200px">
    		<h2>{$data.p_desc}</h2>
    		<h3>有效期: 2017-03-27</h3>
    		<button>马上使用</button>
    		<a href="">点击查看使用详情</a>
    		<h4  id="closebt"></h4>
  		</div>
	</div>
	<script>
		function alertBox(){
		$('#code').center();
        $('#goodcover').show();
        $('#code').fadeIn();
			setTimeout(function(){
					$('.tc').animate({width:'17rem',height:'20rem',margin:'0',},500);
					$('.tc').css('border-radius','1rem');	
					$('.tc').children().css('display','block');
			},500)
			
		
		}

	</script>
  <!-- 弹出窗JS -->
  <script>
$(function() {
    //alert($(window).height());
    $('#closebt').click(function() {
        $('#code').hide();
        $('#goodcover').hide();
        $('.tc').find('h1').css('display','none');
        $('.tc').find('h2').css('display','none');
        $('.tc').find('h3').css('display','none');
        $('.tc').find('h4').css('display','none');
        $('.tc').find('button').css('display','none');
        $('.tc').find('a').css('display','none');
        $('.tc').css("margin",'9rem auto');
        $('.tc').css({width:"9rem",height:"4rem"});
        $('.tc').css('border-radius','inherit');
    });
    /*var val=$(window).height();
  var codeheight=$("#code").height();
    var topheight=(val-codeheight)/2;
  $('#code').css('top',topheight);*/
    jQuery.fn.center = function(loaded) {
        var obj = this;
        body_width = parseInt($(window).width());
        body_height = parseInt($(window).height());
        block_width = parseInt(obj.width());
        block_height = parseInt(obj.height());

        left_position = parseInt((body_width / 2) - (block_width / 2) + $(window).scrollLeft());
        if (body_width < block_width) {
            left_position = 0 + $(window).scrollLeft();
        };

        top_position = parseInt((body_height / 2) - (block_height / 2) + $(window).scrollTop());
        if (body_height < block_height) {
            top_position = 0 + $(window).scrollTop();
        };

        if (!loaded) {

            obj.css({
                'position': 'absolute'
            });
            obj.css({
                'top': ($(window).height() - $('#code').height()) * 0.5,
                'left': left_position
            });
            $(window).bind('resize', function() {
                obj.center(!loaded);
            });
            $(window).bind('scroll', function() {
                obj.center(!loaded);
            });

        } 
    }

})
</script>      

<script src="js/amazeui.min.js"></script>
</div>
   <div class="cpxq-box cpxq-box1">
    	<div class="cpxq">
			<img src="__static__/web/images/cp1.jpg" alt="">
			<h1>Instagram相机</h1>
			<div class="cpxq-con">
				<h2>宝丽来（Polaroid）Socialmatic Instagram 拍立得数码相机，即影即得实时分享</h2>
				<ul>
					<li>可安装Facebook、Twitter等社交网络 app分享相片，内置Wi-Fi，也可以透其用来连接手机传输照片。同时内置4 GB的储存空间，也支持micro SD卡扩充
					</li>
				</ul>
				<h2>商品详情</h2>
				<ul>
					<li>名称：宝丽来Socialmatic&nbsp;Instagram<br></li>
					<li>毛重：1.06kg<br></li>
					<li>后置：1400万像素</li>
					<li>屏幕：4.5英寸</li>
					<li>颜色：随机</li>
				</ul>
				<h3>特别说明</h3>
				<ul>
					<li>若有任何疑问，可联系活动主办方QQ：2951156374</li>
					<li>若地址不详、联系号码有误、停机等个人原因导致无法接收快递，我们将不进行第二次配送，请谅解</li>
				</ul>
			</div>
    	</div>
    	<span class="souqi"></span>
    </div>
    <div class="cpxq-box cpxq-box2">
    	<div class="cpxq">
			<img src="__static__/web/images/cp2.jpg" alt="">
			<h1>宝丽来相机SX-70白彩虹机</h1>
			<div class="cpxq-con">
				<h2>宝丽来相机SX-70白彩虹机</h2>
				<ul>
					<li>两侧设计挂口，可配合手绳使用，既方便携带又能保护相机；</li>
					<li>模式操作也更加方便，将罗盘旋转到指示灯跳动模式即可；</li>
					<li>开关按钮设计在镜头旁边，更方便、更人性化；</li>
					<li>日系小清新拍摄，全自动测光将成像比正常曝光亮一些，让肌肤更显美白娇嫩！</li>
				</ul>
				<h2>商品详情</h2>
				<ul>
					<li>品牌: 宝丽来</li>
					<li>型号: SX-70白彩虹</li>
					<li>对焦方式：固定对焦</li>
					<li>是否有近景拍镜：无</li>
					<li>有无闪光灯：有</li>
					<li>相纸尺寸：86mm*54mm</li>
					<li>重量：307g</li>
				</ul>
				<h3>特别说明</h3>
				<ul>
					<li>若有任何疑问，可直接联系客服QQ：2951156374&nbsp;（工作日9:30至18:30）</li>
				</ul>
				<ul>
					<li>新疆、西藏、青海、宁夏、内蒙古地区不在包邮范围</li>
					<li>若因地址不详、联系号码错误、停机等个人原因导致快递多次配送不成功，延期退回后我们将不再进行二次发货，敬请谅解</li>
				</ul>
			</div>
    	</div>
    	<span class="souqi"></span>
    </div>
    <div class="cpxq-box cpxq-box3">
    	<div class="cpxq">
			<img src="__static__/web/images/cp3.jpg" alt="">
			<h1>乐魔LOMO相机</h1>
			<div class="cpxq-con">
				<h2>lomo Diana F+乐魔限量版相机免费送！好看的人用好看的相机功能：Diana闪光灯、颜色滤片、长时间曝光、多重曝光、接合式全景照片、针孔摄影、两种快门速度、两种照片大小</h2>
				<h2>【特别说明】</h2>
				<ul>
					<li>请兑换后仔细阅读使用流程，若有疑问，可直接联系客服QQ：2951156374 （工作日9:00至18:00）</li>
				</ul>
				<ul>
					<li>若因地址不详、联系号码错误、停机等个人原因导致快递多次配送不成功，延期退回后我们将不再进行二次发货，敬请谅解></li>
				</ul>
			</div>
    	</div>
    	<span class="souqi"></span>
    </div>
    <div class="cpxq-box cpxq-box4">
    	<div class="cpxq">
			<img src="__static__/web/images/cp4.jpg" alt="">
			<h1>富士mini8相机</h1>
			<div class="cpxq-con">
				<h2>富士mini8相机，可爱如我，粉嫩嘟嘟！</h2>
				<h2>商品详情</h2>
				<ul>
					<li>品牌: Fujifilm/富士</li>
					<li>近拍镜距离: 30cm</li>
					<li>对焦方式: 固定对焦</li>
					<li>有无闪光灯: 有</li>
				</ul>
				<h3>特别说明</h3>
				<ul>
					<li>若有任何疑问，可联系活动主办方QQ：2951156374</li>
					<li>若地址不详、联系号码有误、停机等个人原因导致无法接收快递，我们将不进行第二次配送，请谅解</li>
				</ul>
			</div>
    	</div>
    	<span class="souqi"></span>
    </div>
    <script>
//只显示第1格内容 show() hide()
$(".cpxq-box").css({"top":"-25rem","opacity":"0"});
//点击菜单选项  click()  
$(".cp1").click(
  function(){
    $(".cpxq-box1").animate({top:'0',opacity:'1'});
  }
)
$(".cp2").click(
  function(){
    $(".cpxq-box2").animate({top:'0',opacity:'1'});
  }
)
$(".cp3").click(
  function(){
    $(".cpxq-box3").animate({top:'0',opacity:'1'});
  }
)
$(".cp4").click(
  function(){
    $(".cpxq-box4").animate({top:'0',opacity:'1'});
  }
)
$(".souqi").click(
  function(){
    $(".cpxq-box").animate({top:'-25rem'});
    $(".lj").css({'-webkit-filter':'none'});
  }
)
$(".cp").click(
  function(){
    $(".lj").css({'-webkit-filter':'blur(5px)'});
  }
)

</script>
</body>
</html>
